<header>
    <div class="logo">
        <div class="appIconShadow">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0">
                <clipPath id="shape" clipPathUnits="objectBoundingBox">
                    <rect id="rect102" width="1" height="1" x="0" y="0" rx="0.2" ry="0.2" />
                </clipPath>
            </svg>
            {% if page.url != '/' %}
                <a href="{{ '/' | relative_url }}" target="_self"><img class="headerIcon" src="{{ '/assets/img/logo.png' | relative_url }}"></a>
            {% else %}
                <img class="headerIcon" src="{{ '/assets/img/logo.png' | relative_url }}">
            {% endif %}
            <div class="divider"></div>
        </div>
        <p class="headerName">{{ site.data.app.name }}</p>
    </div>
    <nav class="scroll">
        <ul>
            {% for page in site.pages %}
                {% if page.include_in_header == true %}
                    <li><a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
